@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: hsl(217, 100%, 97%);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.pages{
    display: flex;
    justify-content: center;
    column-gap: 1.7rem;
    margin-top: 3rem;
}

.pages button {
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    text-align: center;
    color: hsl(231, 100%, 99%);
    border: solid 1px hsl(231, 100%, 99%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}   

form, .summary {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    background-color: white;
    padding: 2.5rem;
    border-radius: 10px;
}

form h1, .summary h1 {
    font-size: 1.7rem;
    color: hsl(213, 96%, 18%);
}

form p{
    width: 90%;
    color: hsl(231, 11%, 63%);
    font-size: 1.2rem;
    padding-right: 1.2rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.input-fields label {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
}

.input-fields input {
    cursor: pointer;
    width: 90%;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: hsl(213, 96%, 18%);
    border-radius: 5px;
    border: solid 1px hsl(231, 11%, 63%);
}

.input-fields input:focus {
    outline: none;
    border: 1px solid hsl(243, 100%, 62%);
}

::placeholder {
    color:hsl(231, 11%, 63%);
}

.task { 
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: #fff;
}

.task button {
    border: none;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    height: 3rem;
    width: 7rem;
    cursor: pointer;
}

#confirm{
    background-color: hsl(243, 100%, 62%);
}

#back1, #back2, #back3 {
    font-weight: 700;
    color: hsl(231, 11%, 63%);
    background: transparent;
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.options > label {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    padding: 1rem;
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 10px;
}

.options h2 {
    font-size: 1.1rem;
    color: hsl(213, 96%, 18%);
}

.options p {
    width: 100%;
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}
.add-on span {
    padding-left: 1rem;
    font-weight: 500;
    color: hsl(243, 100%, 62%);
}

input[name="option"]:checked + label {
    border: 2px solid hsl(243, 100%, 62%);
    border-radius: 10px;
    background-color: hsl(217, 100%, 97%);
}

#switch {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    padding: 1rem;
    border-radius: 10px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    margin-top: 1rem;
    border: none;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    background-color: hsl(213, 96%, 18%);
    width: 45px;
    height: 23px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.toggle::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.3s;
}

.toggle + span {
    color: hsl(231, 11%, 63%);
}

#check:checked ~.toggle::before {
    transform: translateX(20px);
}

#check:checked ~ #monthly {
    color:hsl(231, 11%, 63%);
}

#check:checked ~ #yearly {
    color:hsl(213, 96%, 18%);
}

#check {
    display: none;
}

input[type="checkbox"] {
    height: 1.3rem;
    width: 1.3rem;
    accent-color: hsl(243, 100%, 62%);
}

label:has(> input[type="checkbox"]:checked) {
    background-color: hsl(217, 100%, 97%);
    border: 2px solid hsl(243, 100%, 62%);
}   

#details {
    background-color: hsl(217, 100%, 97%);
    border-radius: 5px;
}

hr {
    border: none;
    height: 1px;
    width: 95%;
    background-color: hsl(229, 24%, 87%);
}

.fifth {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    background-color: white;
    padding: 2.5rem;
    border-radius: 10px;
}

#confirmation img {
    height: 3rem;
}

#confirmation h1 {
    font-size: 1.5rem;
    color: hsl(213, 96%, 18%);
}

#confirmation p {
    width: 90%;
    color: hsl(231, 11%, 63%);
    font-size: 1.1rem;  
    padding-right: 1.2rem;
}

.options p + p {
    display: none;
    color: hsl(213, 96%, 18%);
    font-size: 0.8rem
}

input[type="checkbox"] + div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.first, .second, .third, .fourth, .fifth{
    display: none;
}

.calculate-charges {
    background-color: hsl(231, 100%, 99%);
    color: hsl(231, 11%, 63%);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 1rem;
  }
  
  .mode,
  .online-service,
  .larger-storage,
  .customizable-profile,
  .total-bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  
  .mode-price {
    font-weight: 500;
  }
  
  .mode {
    padding-bottom: 0.7rem;
  }
  
  hr {
    border: 1px solid hsl(229deg 24% 87%);
  }
  
  .online-service-and-storage {
    display: flex;
    flex-direction: column;
    padding-top: 0.7rem;
    gap: 0.7rem;
  }
  
  .mode-name,
  .mode-price{
    color: hsl(213deg 96% 18%);
    font-weight: 700;
  }

  .online-service-price,
  .larger-storage-price,
  .customizable-profile-price {
    color: hsl(213deg 96% 18%);
  }
  
  .total-bill {
    padding: 0 1.2rem;
  }
  
  .total-bill-price{
    color: hsl(243deg 100% 62%);
    font-weight: bold;
  }

  #change:hover {
    color: hsl(243, 100%, 62%);
    cursor: pointer;
  }